.game-two-container {
  background-color: #95ebd6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.game-two-container::before {
  content: "";
  background-image: url("../assets/game-assets/in-game-background.png");
  background-repeat: repeat;
  background-position: 0px 0px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  animation: animatedBackground 40s linear infinite;
  /* -moz-animation: animatedBackground 40s linear infinite;
  -webkit-animation: animatedBackground 40s linear infinite;
  -ms-animation: animatedBackground 40s linear infinite;
  -o-animation: animatedBackground 40s linear infinite; */
}

#Grid {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1vmax;
}

.Card {
  width: 100%;
  max-width: 190px;
  height: 22vh;
  perspective: 100vw;
}

.Back,
.Front {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform ease-out 0.5s;
}

.Back {
  background: rgb(180, 81, 151);
  background: linear-gradient(90deg, rgba(180, 81, 151, 1) 0%, rgba(96, 69, 145, 1) 100%);
  background-image: url("../assets/game-assets/flipback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.Front {
  position: absolute;
  display: flex;
  background-color: #fff;
  font-size: 20vmin;
  align-items: center;
  justify-content: center;
  transform: rotateY(-180deg);
  pointer-events: none;
  box-shadow: 2px 3px 6px 0px #00000080;
  overflow: hidden;
}

.Front img {
  width: 95%;
}

.Flip.Back {
  transform: rotateY(-180deg) !important;
}

.Flip.Front {
  transform: rotateY(-360deg) !important;
}

@media (orientation: portrait) and (max-width: 750px) {
  #Grid {
    grid-template-columns: auto auto auto auto;
  }

  .Card {
    width: 28vw;
    height: 20vh;
    max-width: 145px;
  }
}

@media (orientation: portrait) and (max-width: 680px) {
  #Grid {
    grid-template-columns: auto auto auto;
  }

  .Card {
    width: 28vw;
    height: 20vh;
    max-width: 145px;
  }
}

@media (orientation: portrait) and (max-width: 420px) {
  .Card {
    width: 28vw;
    height: 18vh;
    max-width: 145px;
  }
}

@media (orientation: portrait) and (max-width: 380px) {
  .Card {
    width: 28vw;
    height: 19vh;
    max-width: 145px;
  }
}
