body {
  background-color: #266f9a;
}

#menu {
  position: relative;
  list-style-type: none;
  padding-left: 5px;
  z-index: 1000;
  /* 1 */
  display: inline-block;
  text-align: center;
}

/* #menu li {
  margin: 2px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #ffff80;
}

#menu li:hover {
  background-color: #ffdd60;
} */

#forPuzzle {
  position: absolute;
  width: 95%;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dadada85;
  overflow: hidden;
}

.disabled {
  pointer-events: none;
}

.polypiece {
  display: block;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}

.moving {
  transition-property: top, left;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.gameCanvas {
  display: none;
  overflow: hidden;
  position: absolute;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

.menu-btn img {
  width: 50%;
}

#timer {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
