/* Start of Global */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #000;
}

.game-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-btn img {
  width: 55%;
  max-width: 200px;
  cursor: pointer;
}

.game-btn:active {
  top: 2px;
}

/* End of Global */

.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu-container {
  padding: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* background-image: url("../assets/menu-bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #266f9a;
}

.game-entry {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-entry img {
  width: 15vh;
}

.timerspan,
#entry-id,
#entry-redeem-id,
#entry-redeem-g1-id,
#entry-redeem-g2-id {
  position: absolute;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 0px -1px #363636;
}

.logo-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 18;
}

/* Game selection */
.game-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;

  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  z-index: 20;
  text-align: center;
}

.game-selection.active {
  animation: popUp 0.25s ease forwards;
}

.game-selection.closed {
  animation: popDown 0.25s ease forwards;
}

.glide__slide {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-preview-1 {
  background-image: url("../assets/menu/Box_Orange_Rounded.png");
}

.game-preview-2 {
  background-image: url("../assets/menu/Box_Blue_Rounded.png");
}

.glide-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glide__bullet {
  padding: 5px;
  border-radius: 100%;
}

.glide__bullet.glide__bullet--active {
  background-color: #369eda;
}

/* Redeem Menu */
.entry-redeem-main {
  position: relative;
}

/* Control Button Slide */
.control-btn {
  position: absolute;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.control-btn:active {
  margin-top: 2px;
}

#prev-btn {
  display: none;
  left: 20px;
}

.prev-btn-img {
  width: 40px;
  transform: rotate(180deg);
}

#next-btn {
  right: 20px;
}

.next-btn-img {
  width: 40px;
}

.menu-close-btn {
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.menu-close-btn:active {
  top: 7px;
}

.menu-close-btn img {
  width: 100%;
}

.mini-game-container {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 15;
}

.mini-game-container.active {
  visibility: visible;
  opacity: 1;
}

.mini-game-container.closed {
  animation: popDown 0.25s ease forwards;
}

.game-selection-preview {
  position: relative;
  width: 100%;
  height: 60vh;
  max-height: 450px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.game-title {
  position: absolute;
  top: 15px;
  z-index: 5;
}

.game-title img {
  width: 30vh;
}

.game-preview-animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.selection-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.play-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 20px;
}

.play-btn img {
  width: 20vh;
}

.game-btn-mg:active {
  transform: translateY(2px);
}

/* In Game CSS */
.back-button {
  width: 35px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 19;
}

.back-button img {
  width: 100%;
}

/* In Game Exit */
.game-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;

  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 15px;
  z-index: 20;
  background-image: url("../assets/menu/Box_Orange_Rounded.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-exit-inner {
  width: 100%;
  height: 40vh;
  max-height: 300px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.ingame-title {
  font-size: 4vh;
  text-align: center;
  color: #fff;
  margin: 0;
}

.sec-title {
  font-size: 3vh;
  text-align: center;
  color: #fff;
}

.game-exit-selection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.exit-btn {
  width: 45%;
  cursor: pointer;
}

.exit-btn img {
  width: 100%;
}

.game-exit.active {
  animation: popUp 0.25s ease forwards;
}

.game-exit.closed {
  animation: popDown 0.25s ease forwards;
}

/* Game 1 */
/* How to play Container */
.pop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  border-radius: 50px;
  width: 80%;
  height: -webkit-fill-available;
  min-height: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 6vh 18px 20px 18px;
  z-index: 25;
  background-image: url("../assets/menu/Box_Orange_Rounded.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pop-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 300px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.pop-container-img {
  position: absolute;
  top: -60px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-container-img img {
  width: 70%;
}

.pop-container-inner .ingame-title {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.pop-container-selection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pop-container-banner {
  width: 65%;
  position: absolute;
  bottom: calc(100% - 50px);
}

.pop-banner-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.pop-container-banner img {
  width: 100%;
}

.exit-btn {
  width: 45%;
  cursor: pointer;
}

.exit-btn img {
  width: 100%;
}

.pop-container.active {
  animation: popUp 0.25s ease forwards;
}

.pop-container.closed {
  animation: popDown 0.25s ease forwards;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

.menu-btn img {
  width: 50%;
}

.timer-main {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.timer-main img {
  width: 15vh;
}

.pop-container .game-entry {
  top: 0;
}

/* Text Paragraph */
.span-text-small {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.text-normal {
  color: #fff;
  text-align: center;
}

.pop-container-long {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.pop-container-long p {
  font-size: 1rem;
}

.alert {
  color: #ff0000;
}

/* Ready Go Screen */
#readyGoScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #00000078;
  z-index: 999;
}

#readyText {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
}

/* Loader */
.overlay-loader {
  justify-content: center;
  align-items: center;
}

.loader {
  width: 45px;
  height: 30px;
  background: linear-gradient(#004ce4 0 0) 0 100%/100% 50%, linear-gradient(#004ce4 0 0) 0 0 / calc(100% / 3) 100%;
  background-repeat: no-repeat;
  position: relative;
  clip-path: inset(-100% 0 0 0);
  animation: l2-0 2s infinite steps(4);
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: -50% 0 50%;
  background: linear-gradient(#00e622 0 0) 0 0 / calc(2 * 100% / 3) 50%,
    linear-gradient(#00e622 0 0) 100% 100% / calc(2 * 100% / 3) 50%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l2-1;
}
.loader::after {
  inset: -100% 0 100%;
  background: linear-gradient(#e50021 0 0) 0 0/100% 50%, linear-gradient(#e50021 0 0) 100% 0 / calc(100% / 3) 100%;
  background-repeat: no-repeat;
  animation-name: l2-2;
}
@keyframes l2-0 {
  0% {
    transform: translateY(-250%);
    clip-path: inset(100% 0 0 0);
  }
  25%,
  100% {
    transform: translateY(0);
    clip-path: inset(-100% 0 0 0);
  }
}
@keyframes l2-1 {
  0%,
  25% {
    transform: translateY(-250%);
  }
  50%,
  100% {
    transform: translateY(0);
  }
}
@keyframes l2-2 {
  0%,
  50% {
    transform: translateY(-250%);
  }
  75%,
  100% {
    transform: translateY(0);
  }
}

/* Game loader */
#game-overlay-loader {
  background: #266f9a;
  z-index: 99;
}

.game-loader {
  width: 90px;
  height: 24px;
  padding: 2px 0;
  box-sizing: border-box;
  display: flex;
  animation: l5-0 3s infinite steps(6);
  background: linear-gradient(#266f9a 0 0) 0 0/0% 100% no-repeat,
    radial-gradient(circle 3px, #eeee89 90%, #0000) 0 0/20% 100% #266f9a;
  overflow: hidden;
}
.game-loader::before {
  content: "";
  width: 20px;
  transform: translate(-100%);
  border-radius: 50%;
  background: #ffff2d;
  animation: l5-1 0.25s 0.153s infinite steps(5) alternate, l5-2 3s infinite linear;
}
@keyframes l5-1 {
  0% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0, 0 0, 0 100%, 100% 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 100% 65%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 35%);
  }
}
@keyframes l5-2 {
  100% {
    transform: translate(90px);
  }
}
@keyframes l5-0 {
  100% {
    background-size: 120% 100%, 20% 100%;
  }
}

/* Animation */
@keyframes popUp {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
  65.5% {
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes popDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  65.5% {
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
    visibility: visible;
  }
  99% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 450px) {
  .game-selection-preview {
    height: 50vh;
  }

  .menu-close-btn {
    width: 35px;
    right: -5px;
  }
}

@media screen and (min-width: 800px) {
  .game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }
}
