body {
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border-width: 0;
  /* cursor: pointer; */
}

#menu {
  position: relative;
  list-style-type: none;
  padding-left: 5px;
  z-index: 1000;
  /* 1 */
  display: inline-block;
  text-align: center;
}

/* #menu li {
  margin: 2px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #ffff80;
}

#menu li:hover {
  background-color: #ffdd60;
} */

#forPuzzle {
  position: absolute;
  width: 95vw;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dadada;
  overflow: hidden;
}

.polypiece {
  display: block;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}

.moving {
  transition-property: top, left;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.gameCanvas {
  display: none;
  overflow: hidden;
  position: absolute;
}

#startButton {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  z-index: 3;
  cursor: pointer;
}

#completeMenu {
  display: none;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  z-index: 3;
}

#backTitle {
  margin-top: 20px;
  background-color: #bcfffb;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
}

#backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #bcfffb;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 4;
}
